<main class="max-w-4xl mx-auto">

    <section id="hero" class="flex flex-col-reverse sm:flex-row justify-center items-center gap-8 p-6 mb-12 scroll-mt-20 widescreen:section-min-height tallscreen:section-min-height">
        <article class="sm:w-1/2">
            <h2 class="max-w-md text-4xl font-bold text-center sm:text-5xl sm:text-left">
                We Boldly Go <span class="text-indigo-700 dark:text-indigo-300">Where No Rocket</span> Has Gone Before...
            </h2>
            <div class="max-w-md text-2xl text-center sm:text-left text-slate-700 dark:text-slate-400">
                <p class="mt-4">
                    We're building rockets for the next century today. From Moon to Mars, Jupiter and beyond...
                </p>
                <p class="mt-4">
                    Think Acme Rockets.
                </p>
            </div>
        </article>
        <img src="{{ images['rocketdab'] }}" alt="Rocket Dab" class="w-1/2">
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="rockets" class="p-6 my-12 scroll-mt-20 widescreen:section-min-height tallscreen:section-min-height">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6">
            Our Rockets
        </h2>
        <ul class="list-none mx-auto my-12 flex flex-col sm:flex-row items-center gap-8">
            {% for rocket in rockets %}
                <li class="w-2/3 sm:w-5/6 flex flex-col items-center border border-solid border-slate-900 dark:border-gray-100 bg-white dark:bg-slate-900 py-6 px-2 rounded-3xl shadow-xl">
                    <img loading="lazy" class="mb-6 w-1/2" src="{{ rocket['img_path'] }}" alt="{{ rocket['text'] }}">
                    <h3 class="text-3xl text-center">{{ rocket['text'] }}</h3>
                    <p class="text-center mt-2 text-slate-500 dark:text-slate-400">
                        <span class="hidden sm:block text-3xl">{{ rocket['price_symbol'] }}</span>
                        <span class="sm:hidden text-2xl">{{ rocket['price_text'] }}</span>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="testimonials" class="p-6 my-12 scroll-mt-20">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6">
            Testimonials
        </h2>
        {% for testimonial in testimonials %}
            <figure class="my-12">
                <blockquote class="bg-teal-600 dark:bg-black pl-14 pr-8 py-12 rounded-3xl relative">
                    <p class="text-2xl sm:text-3xl mt-2 text-white dark:text-slate-400 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-white before:opacity-25 before:transform before:translate-x-2 before:translate-y-2 after:content-['\201D'] after:font-serif after:absolute after:-bottom-20 after:right-0 after:text-9xl after:text-white after:opacity-25 after:transform after:-translate-x-2 after:-translate-y-2">
                        {{ testimonial['text'] | safe }}
                    </p>
                </blockquote>
                <figcaption class="italic text-xl sm:text-2xl text-right mt-2 text-slate-500 dark:text-slate-400">
                    &#8212; {{ testimonial['author'] | safe }}
                </figcaption>
            </figure>
        {% endfor %}
    </section>

    <hr class="mx-auto bg-black dark:bg-white w-1/2">

    <section id="contact" class="p-6 my-12 scroll-mt-20 widescreen:section-min-height tallscreen:section-min-height">
        <h2 class="text-4xl font-bold text-center sm:text-5xl mb-6">
            Contact Us
        </h2>
        <form action="" class="mx-auto flex max-w-4xl flex-col items-start gap-4 text-2xl sm:text-3xl">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required minlength="3" maxlength="60" placeholder="Your Subject" class="w-full text-black text-2xl sm:text-3xl p-3 rounded-xl border border-solid border-slate-900 dark:border-none" />
            <label for="message">Message:</label>
            <textarea id="message" name="message" cols="30" rows="10" placeholder="Your Message" required class="w-full text-black text-2xl sm:text-3xl p-3 rounded-xl border border-solid border-slate-900 dark:border-none"></textarea>
            <button class="bg-teal-700 hover:bg-teal-600 active:bg-teal-500 text-white p-3 w-48 rounded-xl border border-solid border-slate-900 dark:border-none">Submit</button>
        </form>
    </section>

</main>